# Raytac MDBT50Q-DB-20 NRF52820 board configuration

# Copyright (c) 2022 Raytac Corporation
# SPDX-License-Identifier: Apache-2.0

if BOARD_RAYTAC_MDBT50Q_DB_20_NRF52820

config BOARD
	default "raytac_mdbt50q_db_20_nrf52820"

config BT_CTLR
	default BT

endif # BOARD_RAYTAC_MDBT50Q_DB_20_NRF52820
